<!DOCTYPE html>
 <html > <!--<![endif]-->
    <head>
       
      <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
      {{>header}}
        <p>{{title}}  {{message}}</p>
       
         {{>footer}}
    </body>
</html>