<!DOCTYPE html>
 <html > <!--<![endif]-->
    <head>
      <link rel="stylesheet" href="/CSS/style.css">
    </head>

      <body>
      <div class="main-containt">
          {{>header}}
          <p>Hello</p>
            <img class= 'portrat' src="./image/pic.jpg" alt="">
        <p>Welcome to the {{title}}</p>

      </div>
      
         {{>footer}}
    </body>
   
</html>