<!DOCTYPE html>
 <html > <!--<![endif]-->
    <head>
      <link rel="stylesheet" href="/CSS/style.css">
    </head>

      <body>
      <div class="main-containt">
          {{>header}}
        <p>Welcome to the {{title}}</p>
        <p>This is a weather application designed to learn NodeJS</p>
            <img class= 'portrat' src="./image/pic.jpg" alt="">
        

      </div>
      
         {{>footer}}
    </body>
   
</html>