<!DOCTYPE html>
 <html > <!--<![endif]-->
    <head>
       
      <link rel="stylesheet" href="/CSS/style.css">
    </head>
   <body>
      <div class="main-containt">
          {{>header}}
        
        <p>Welcome to the {{title}} page</p>

      </div>
      
         {{>footer}}
    </body>
</html>