<!DOCTYPE html>
 <html > <!--<![endif]-->
    <head>
       
      <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
      <div class="main-containt">
          {{>header}}
           <p>Welcome to the {{title}}</p>
        <form >
          <input placeholder="city">
          <button>Submit</button>
        </form>
        <p id="message-1"></p>
        <p id='message-2'></p>
       

      </div>
      
         {{>footer}}
      <script src="/JS/style-js.js"></script>
    </body>
</html>